{% extends 'games/base/base.html' %}

{% load static %}

{% block title %}BIBA and BOBA{% endblock %}

{% block body %}

<div class="container">
  <div class="container">
     <div class="jumbotron" style="background-color:#000000; opacity:0.9; color:#CCCCCC;">
      <h1>Welcome to Casino by Biba and Boba</h1>
     </div>

     <div class="container">
      <div class="container">
        <div class="jumbotron" style="background-color:#000000; opacity:0.9; color:#CCCCCC;">
          <h1>Hello {{user.username}}, you have {{ balance }} points</h1>
        </div>
      </div>
    </div>

      <div class="container">
         <div class="container">
            <div class="jumbotron" style="background-color:#000000; opacity:0.9; color:#CCCCCC;">
               <p align="center">Here our addres</p>
               <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2900.9872263246716!2d76.92021888122443!3d43.35637779043221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x388313591aca92ef%3A0x3a00115f86d77aca!2z0JrTqdC60LbQuNC10Log0YjQsNKT0YvQvSDQsNGD0LTQsNC90YssINCQ0LvQvNCw0YLRiw!5e0!3m2!1sru!2skz!4v1640198866278!5m2!1sru!2skz" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
            </div>
         </div>
      </div>

     <div class="jumbotron row" style="background-color:#000000; opacity:0.9; color:yellow; font-size: 25px; font-weight: bold;">
        <div class="col-3 text-center ">
           <a href="blackjack.html"><img class="" src="static/games/img/blackjack.png"  width="200" height="200" /></a>
        </div>
        <div class="col-3 text-center">
           <a href="roulette.html"><img src="static/games/img/roulette.png"  width="200" height="200" /></a>
        </div>
        <div class="col-3 text-center">
           <a href="horserace.html"><img src="static/games/img/horserace.png"  width="200" height="200" /></a>
        </div>
        <div class="col-3 text-center">
           <a href="slot.html"><img src="static/games/img/slottica.png"  width="200" height="200" /></a>
        </div>
     </div>
  </div>
</div>
{% endblock %}

