{% extends 'games/base/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
    <div class="container">
        <div class="jumbotron row" style="background-color:#000000; opacity:0.9; color:yellow; font-size: 25px; font-weight: bold;">
            <form action="login" method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username"><br>
                <input type="password" name="password" placeholder="password"><br>
                <input type="Submit">
            </form>
        
            <div>
                {% for message in messages %}
                <h3> {{message}}  </h3>
                {% endfor %}
        
            </div>
            </div>
            </div>
            </div>
{% endblock %}